.main-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    padding: 3rem 4rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #C7CCDB;
}
.main-footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;        
}
.main-footer div a{
    color: var(--primary);
    font-size: 0.9rem;
}